/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1.4;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
}

nav a {
    color: black;
}

button {
    font-size: 14px;
    margin-top: 15px;
    padding-top: 8px;
    padding-left: 25px;
    padding-bottom: 8px;
    padding-right: 25px;
    border: 2px solid black;
    border-radius: 12px;
}

/* Section with background
--------------------------------*/

.section-bg {
  /* background: #f5f8fd; */
  background: white;
}


/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 36px;
  color: #5574F7;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

/* Team Section
--------------------------------*/

#team {
  padding: 15px 0;
}

#team img {
  height: 300px;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

#team .member .member-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 15px 0;
  background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
  transition: margin 0.2s;
  height: 40px;
  transition: height 0.4s;
}

#team .member:hover .member-info {
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  height: 80px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #1bb1dc;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

#team .row {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
    width: 900px;
    margin: 0 auto;
}

.logo {
    float: left;
	 padding-top: 25px;
}

.header-img {
	width: 100%;
}

.text-img {
    padding-bottom: 15px;
}

.header-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.header-content .text-container {
     padding: 2% 1%;
    padding-bottom: 20px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 30px;
}

.top-content .text-container {
    width: 98%;
    padding: 0 1%;
    padding-bottom: 20px; 
}

.middle-content-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: .5%;
}

.middle-content-about .text-container {
    width: 48%;
    padding: 1% 1%;
    padding-bottom: 20px; 
    border-bottom: 1px dashed black; 
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes > {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    /* justify-content: space-around; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
    padding-top: 4%;
    width: 100%;
}

.bottom-content .logo {
    padding: 0;
}

.bottom-content h2 {
    margin-top: 15px;
    margin-bottom: 0;
}

.bottom-content p {
    padding-right: 65px;
    padding-top: 15px;
}


/* Stretch: Design new page - Contact Form CSS */

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;   
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: red;
  font-size: 15px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.contact-container {
  border-radius: 5px;
  background-color: white;
  padding: 20px 50px 20px 50px;
}


footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}